{% extends 'base.html.twig' %}

{% block title %}Войти{% endblock %}

{% block body %}
<div class="content-center">
    <form class="login__form" method="post">

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Войти</h1>
        <div class="login__form-field-container email_container">
            <input
                type="email"
                name="email"
                id="inputEmail"
                class="form-control"
                autocomplete="email"
                required
                autofocus
            />
        </div>
        <div class="login__form-field-container password_container">
            <input
                type="password"
                name="password"
                id="inputPassword"
                class="form-control"
                autocomplete="current-password"
                required
            />
        </div>
        <button class="btn btn-lg btn-primary" type="submit">Войти</button>
        <div class="auth_form-extra">

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="btn btn-lg btn-primary sign-in-btn" type="submit">Sign in</button>
        <div class="login__form-extra">
            <div>Еще нет аккаунта?</div>
            <a href="/register">Зарегистрируйтесь</a>
        </div>
    </form>
</div>

{% endblock %}
