{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="content-center">
    <form class="register__form" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>
        <div class="register__form-field-container email_container">
            <input
                type="email"
                name="email"
                id="inputEmail"
                class="form-control"
                autocomplete="email"
                required
                autofocus
            />
        </div>
        <div class="register__form-field-container password_container">
            <input
                type="password"
                name="password"
                id="inputPassword"
                class="form-control"
                required
                autofocus
            />
        </div>
        <div class="register__form-field-container first-name_container">
            <input
                type="text"
                name="firstName"
                id="inputFirstName"
                class="form-control"
                required
                autofocus
            />
        </div>
        <div class="register__form-field-container last-name_container">
            <input
                type="text"
                name="lastName"
                id="inputEmail"
                class="form-control"
                required
                autofocus
            />
        </div>
        <div class="register__form-field-container login_container">
            <input
                type="email"
                name="email"
                id="inputEmail"
                class="form-control"
                autocomplete="email"
                required
                autofocus
            />
        </div>
        <div class="register__form-field-container phone_container">
            <input
                type="tel"
                name="phone"
                id="inputPhone"
                class="form-control"
                required
                autofocus
            />
        </div>
        <div class="agree_container">
            <input
                type="checkbox"
                name="agree"
                id="agree"
                required
            />
            <label for="agree">
                соглашаюсь с <a href="https://www.gosuslugi.ru/" target="_blank">условиями сайта</a>
            </label>
        </div>
        <button class="btn btn-lg btn-primary" type="submit">Зарегистрироваться</button>
        <div class="auth_form-extra">
            <div>Уже зарегестрированы?</div>
            <a href="/login">Войдите</a>
        </div>
    </form>
</div>
{% endblock %}
