.email_container,
.password_container {
    position: relative;
}

.email_container::before,
.password_container::before {
    position: absolute;
    top: -24px;
    left: 0;
}

.btn {
    margin-top: 20px;
}
