.email_container,
.password_container {
    position: relative;
}

.email_container::before,
.password_container::before {
    position: absolute;
    top: -24px;
    left: 0;
}

.email_container::before {
    content: 'Почта';
}

.password_container::before {
    content: 'Пароль';
}