*, *:after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f6f6f6 !important;
}

a,
a:visited {
    text-decoration: none !important;
    color: inherit;
}

.content-center {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#content {
    padding-top: 50px;
    padding-bottom: 50px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.input-flex {
    border-radius: 8px;
    padding: 2px 6px;
    outline: 0;
    border: 0;
    padding-bottom: 1px;
}

.input-flex:focus {
    box-shadow: 0 0 0 1px #659DBD;
}

.input-flex:hover {
    box-shadow: 0 0 0 1px #659DBD;
}

.textarea-flex {
    resize: none;
    border: 0;
    border-radius: 8px;
    width: 100%;
}

.textarea-flex:focus {
    border: 1px solid green;
}