*, *:after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f6f6f6 !important;
}

a,
a:visited {
    text-decoration: none !important;
    color: inherit;
}

.content-center {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}