*, *:after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f6f6f6 !important;
}

a,
a:visited {
    text-decoration: none !important;
    color: inherit;
}

.content-center {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#content {
    padding-top: 50px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.input-flex {
    border-radius: 8px;
    padding: 2px 6px;
    outline: 0;
    border: 0;
    padding-bottom: 1px;
}

.input-flex:focus {
    box-shadow: 0 0 0 1px #659DBD;
}

.input-flex:hover {
    box-shadow: 0 0 0 1px #659DBD;
}

.textarea-flex {
    resize: none;
    border: 0;
    border-radius: 8px;
    width: 100%;
}

.textarea-flex:focus {
    border: 1px solid green;
}

.button-scroll-to-top {
    outline: 0;
    border: 0;
    display: inline-block;
    background-color: #42AAFF;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

.button-scroll-to-top i {
    color: white;
    size: 4rem;
}

.button-scroll-to-top:hover {
    cursor: pointer;
    background-color: #333;
}

.button-scroll-to-top:active {
    background-color: #555;
}

.button-scroll-to-top.show {
    opacity: 1;
    visibility: visible;
}