.register_block {
    border-radius: .25rem;
    margin: 36px auto 0 auto;
    max-width: 366px;
    background-color: #fff;
    padding: 1.5rem;
    box-shadow: 0 0.0625rem 0.25rem 0 rgb(0 0 0 / 5%);
}

.register_block h1 {
    font-size: 1.25rem;
}

