.first-name_container,
.last-name_container,
.login_container,
.phone_container {
    position: relative;
}

.first-name_container::before,
.last-name_container::before,
.login_container::before,
.phone_container::before {
    position: absolute;
    top: -24px;
    left: 0;
}

.first-name_container::before {
    content: 'Ваше имя';
}

.last-name_container::before {
    content: 'Ваша фамилия';
}

.login_container::before {
    content: 'Логин'
}

.phone_container::before {
    content: 'Телефон';
}

.agree_container {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.agree_container input {
    width: auto;
    margin-right: 10px;
}
