.shop-container {
    max-width: 1100px;
    margin: 0 auto;
}

.shop-info-container {
    display: flex;
    padding: 1rem;
    background-color: #fff;
    margin-bottom: 100px;
}

.shop-image {
    min-width: 288px;
    min-height: 288px;
    width: 288px;
    height: 288px;
    margin-right: 50px;
}

.shop-image img {
    width: 100%;
}

.shop-description {
    max-height: 100px;
    word-break: break-word;
    overflow: auto;
}

.shop-name {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 30px;
}

.shop-info {
    display: flex;
    margin-bottom: 20px;
}

.shop-info div {
    margin-right: 20px;
}

.shop-user-info {
    border: 0.0625rem solid rgba(0, 0, 0, .15);
    border-radius: 0.25rem;
    padding: 0.75rem;
    display: flex;
    margin-bottom: 20px;
}

.shop-user-info__name {
    color: #f37000;
    border-color: #f37000;
    margin-right: 10px;
}

.shop-about-shop {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.shop-items-container {
    background-color: #fff;
    padding: 1rem;
}

.shop-items-header {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-right: 10px;
}

.shop-items-add {
    cursor: pointer;
}

.shop-items-add:hover {
    transform: scale(1.2);
}

.fa-trash-alt {
    cursor: pointer;
}

.fa-trash-alt:hover {
    transform: scale(1.2);
}

.shop-item {
    font-family: "Roboto", sans-serif;
    padding-top: 15px;
    display: flex;
    border-top: 1px solid rgba(42,42,42,0.1);
}

.item-image {
    width: 250px;
    height: 250px;
    margin-right: 30px;
}

.item-image img {
    width: 100%;
}

.shop-item-title {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
}

.shop-item-description {
    margin-bottom: 40px;
}

.shop-item-price {
    font-weight: 700;
    margin-bottom: 20px;
}

.shop-items__top {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.shop-item-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
}

.shop-info-container_top {
    width: 670px;
}

.admin-shop {
    display: flex;
    align-items: center;
}

.admin-shop textarea {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 30px;
    max-width: 100%;
    resize: none;
    paddng-left: 0;
}

.admin-shop textarea::-webkit-scrollbar,
.shop-description textarea::-webkit-scrollbar {
    display: none;
}

.hidden_for_title_editor {
    position: absolute;
    visibility: hidden;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 30px;
}

.shop-description textarea {
    resize: none;
    margin-top: 5px;
    margin-left: 5px;
    width: 99%;
    height: 89px;
}

.hidden_for_description_editor {
    position: absolute;
    visibility: hidden;
}

.check-icon {
    margin-left: 6px;
    cursor: pointer;
}

.star-icon-wrapper {
    cursor: pointer;
}

.star-icon-wrapper i {
    transform: scale(1.5);
}