{% extends 'base.html.twig' %}

{% block title %}Редактировать товар{% endblock %}

{% form_theme ProductForm 'inc/form/auth-form.html.twig' %}

{% block body %}
    <div>Редактировать товар</div>
    {{ form(ProductForm ) }}
{% endblock %}