{% extends 'base.html.twig' %}

{% block title %}Редактировать товар{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/edit_product.css') }}">
{% endblock %}

{% form_theme productForm 'bootstrap_5_layout.html.twig' %}

{% block body %}
    <div class="edit_product_form">
        <h1 class="h3 mb-3 font-weight-normal form-header">Редактировать товар</h1>
        {{ form(productForm ) }}
    </div>
{% endblock %}