{% extends 'base.html.twig' %}

{% block title %}Создать товар{% endblock %}

{% form_theme shopItemForm 'inc/form/auth-form.html.twig' %}

{% block body %}
    <div>Создать товар</div>
    {{ form(shopItemForm ) }}
{% endblock %}