<div class="header">
    <div class="header__container">
        <div class="header__search-and-icon">
            <a href="/login" class="header-logo">
                <img src="https://www.freeiconspng.com/uploads/wolf-emblem-icon-31.png" />
            </a>
            <div class="header__search-field">
                <input class="header__search-input" type="text" />
                <div class="header__search-controls">
                    <select class="header__search-select">
                        <option value="products">Товары</option>
                        <option value="shops">Магазины</option>
                        <option value="users">Пользователи</option>
                    </select>
                    <button type="button" class="find-button">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div>
            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="login-container">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <a href="{{ path('app_login') }}" class="header__container-login-btn">
                        Login
                    </a>
                </div>
            {% endif %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="auth-menu">
                    <div class="user-name">
                        <div>{{ app.user.firstName}}</div>
                        <i class="fas fa-arrow-down"></i>
                    </div>
                    <ul class="auth-menu__list">
                        <li class="auth-menu__list-item">
                            <a>Личный кабинет</a>
                        </li>
                        <li class="auth-menu__list-item">
                            <a>Избранное</a>
                        </li>
                        <li class="auth-menu__list-item">
                            <a href="{{ path('app_logout') }}" class="header__container-logout-btn">Exit</a>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
</div>