{% extends 'base.html.twig' %}

{% block title %}Магазины{% endblock %}

{% block body %}
    {#<div class="shops-container">
        {% if shops %}
            {% for shop in shops %}
                <a href="shops" class="shop">
                    <div class="shop__image">
                        <img src={{ shop.shopImageUrl }} />
                    </div>
                    <div class="shop__owner-content">
                        <div class="shop__owner-content__avatar">
                            <img src='' />
                        </div>
                        <div class="shop__owner-content__login">{{ user.firstName }}</div>
                    </div>
                    <div class="shop__content-info">
                        <div class="shop__content-info-title">{{ shop.name }}</div>
                        <div class="shop__content-info-description">{{ shop.name }}</div>
                    </div>
                </a>
            {% endfor %}
        {% endif %}
        {% if not shops %}
            Empty shop..(
        {% endif %}

    </div>#}
{% endblock %}
